doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900", rel="stylesheet")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		title= title
	body
		.container
			.main
				.sidebar
					h2.menu_title Products menu
					block sidebar
						nav.menu
							each item in menu_items
								a(href="#").menu_item= item
				main.content
					block content